/* Newcollections.css */
.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 1200px; /* Set a maximum width for the parent container */
    margin: auto; /* Center the container on the page */
  }
  
  .new-collections h1 {
    color: #171717;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .new-collections hr {
    width: 40px;
    height: 3px;
    border-radius: 5px;
    background: #252525;
  }
  
  .collections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 50px;
    gap: 30px;
    max-width: 100%; /* Ensure the grid container doesn't exceed the parent's width */
  }
  
  .item {
    text-align: center;
  }
  
  /* Adjust the image size as needed */
  .item img {
    max-width: 100%;
    height: auto;
  }
  
  /* Allow text to span multiple lines */
  .item .item-name {
    font-size: 0.9rem; /* Reduce the font size by 10 percent (90% of the original size) */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    
  }
  
  /* Add responsive styles for smaller screens */
  @media (max-width: 600px) {
    .collections {
      grid-template-columns: 1fr; /* Change to a single column layout on smaller screens */
    }
  }
  